@import "../base/variables.scss";

.footer {
	background:linear-gradient(to right,$bg-primary,$bg-secondary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
  height: 70px;
	font-size: 13px;
	font-weight: 500;
	color: $footer-color-text;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 1s ease;
  //border-top: black 1px solid; 
  box-shadow: 0 -2px 3px rgba(mc($primary, '500'), 0.2);

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			padding: 0 15px;
		}

	}

//   @each $color, $colorvalue in $material-colors {
// 		&.is-#{$color} {
//       background-color: mc($color,'50');
//       color: mc($color,'500');
//     }
//   }

}
