@import "../base/variables.scss";

.nav {
	align-items: stretch;
	background-color: $bg-primary;
	background: $bg-primary; //linear-gradient(to right, $bg-primary,$bg-secondary);
	display: flex;
	min-height: 50px;
	position: relative;
	text-align: center;
	//border-bottom: 1px solid black;
	//box-shadow: 0 2px 3px rgba(mc($primary, '500'), 0.2);
	z-index: 2;
	color: $header-color-text;
  transition: background-color 1s ease;
}

.nav-left {
	align-items: stretch;
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: flex-start;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

.nav-center {
	align-items: stretch;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.nav-right {
	@include tablet {
		align-items: stretch;
		display: flex;
		flex-basis: 0;
		flex-grow: 1;
		justify-content: flex-end;
	}

  .nav-item {
    align-items: stretch;
    padding: 0 0 0 10px;
  }
}

.nav-item {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 5px 5px;

	// LINKS
	@at-root small.small-class {
		color: $header-color-text;
		transition: color .4s ease;
		margin-right: -4px;
		font-size: 15px;
		vertical-align: top;
		cursor: pointer;
	}
	@at-root small.small-class1 {
		color: $header-color-text;
		transition: color .4s ease;
		
		font-size: 15px;
		vertical-align: middle;
		cursor: pointer;
	}
	@at-root .nav-item a, a.nav-item {
		color: $header-color-text;
		transition: filter .4s ease;
		img{
			margin-left: 18px;
			@media only screen and (max-width: 1024px){
				margin-left: 0;
			}
		}
		cursor: pointer;
		
		&:hover {
			color: $header-bg;
			text-decoration: none;
			.small-class,.small-class1, .logoHeader {
				//color: $header-bg;
				text-decoration: none;
				//background-color: $header-color-text;
			}
			img{
				transition: filter .4s ease;
				//filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(95deg) brightness(104%) contrast(101%);
			}
			background-color: $header-color-text;
		}
	}

	// LOGO

	img {
		max-height: 34px;
	}

	// HEADERS

	h1 {
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		transition: color .4s ease;
		color: $header-color-text;
		
		padding-left: 18px;

		i {
			margin-right: 8px;
		}

		 &:hover {
			color: $header-bg;
			
		 }
	}

	

	@at-root h2.nav-item, .nav-item h2 {
		color: mc('grey', '400');
	}

	// BUTTONS

	.button {
		border: none;
		background-color: $header-button-text;
		transition: all .4s ease;
		background: transparent;
		color: $header-button-text;
		border-radius: 0;
	height: auto;
	@media only screen and (max-width: 480px){
		padding:0 5px;
	  }

    &.is-icon-only i {
      margin-right: 0;
    }

		&:hover {
			background-color: $header-bg;
			color: $a-hover-color-text;
		}
	}

	// INPUTS

	.control {

		input[type=text] {
			//background-color: $search-color-bg;
			border:0;
			border-radius: 0px;
			box-shadow: unset;
			background: transparent;
			border-bottom:1px solid $search-color-border;
			color: $search-color-text;
			@media only screen and (max-width: 480px){
				display: none;
			}

			&:focus {
				border:0;
				border-bottom: 1px solid $search-color-border; 
				box-shadow:unset;
			}

			@include placeholder {
				color: $search-color-placeholder;
			}

		}

	}

}
