.searchresults {
	position: fixed;
	top: 50px;
	left: 16px;
	right: 0;
	margin: 0 auto;
	max-width: 300px;
	z-index: 1;
	background-color: #fff;
//   border: 1px solid mc('blue-grey', '900');
	// box-shadow: 0 0 5px mc('blue-grey', '500');
	color: #000;
  transition: max-height 1s ease;

	&-enter-active, &-leave-active {
    overflow: hidden;
  }
  &-enter-to, &-leave {
    max-height: 500px;
  }
  &-enter, &-leave-to {
    max-height: 0px;
  }

	.searchresults-label {
    background-color:#fff;
		color: #000;
		padding: 8px;
		font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    // box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}

	.searchresults-list {
    padding-bottom: 5px;

		> li {
			display: flex;
			font-size: 14px;
			transition: background-color .2s linear;

			&:nth-child(odd) {
				background-color: #FFF;
			}

			// &.is-active, &:hover {
			// 	background-color: #C80000;
			// 	color: #FFF;
			// }

			a {
				color: #000;
				display: flex;
				align-items: center;
				height: 30px;
				padding: 0 20px;
				width: 100%;
				cursor: pointer;
			}
			a:hover {
				background-color: #C80000;
				color: #FFF;
			}

		}

	}

}
