
#header-container
  nav.nav#header(class=['is-' + appconfig.theme.primary], ref='header')
    .nav-left
      block rootNavLeft
        a.nav-item(href='/')
          img(src=appconfig.host + '/images/ai_wiki_logo_2019.svg' style='width:100px; height:50px;')
          //- h1.logoHeader AI
          //-   small.small-class wi
          //-   small.small-class1 ki
    .nav-center
      block rootNavCenter
          search
    span.nav-toggle
      span
      span
      span
    .nav-right
      .nav-item
        a.button(href="")
          span Projects
        a.button(href="")
          span Contributions
        if isGuest  
          a.button(href='/Login')
            span Log In
      block rootNavRight
        loading-spinner
