footer.footer(class=['is-' + appconfig.theme.footer], ref='footer')
  span
    = t('footer.poweredby') + ' '
    a(href='https://wiki.js.org') Wiki.js
  span Delivered by 
    a(href='https://city.ai/') City.AI
  ul
    li: a(href='/')= t('footer.home')
    li: a(href='#root')= t('footer.top')
